<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<!-- Latest compiled and minified CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
		/>

		<!-- Optional theme -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css"
		/>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../public/js/bmi.js"></script>
		<link href="../public/assets/home.css" rel="stylesheet" type="text/css" />
		<title>HOMEPAGE</title>
	</head>
	<body>
		<div id="homee">
			<h1>Home</h1>
			<button  class="btn btn-default"><a href="./workout">Workout</a></button>
			<button class="btn btn-default"><a href="./about">About</a></button>
		</div>
		<br />
		<div id="BMIINFO">
			<div id="BMI">
				<h4>BMI Calculator</h4>
				<div class="BmiDisplay">
					<p>Weight (lbs)</p>
					<input text="text" class="form-control" id="weight" />
					<br />
					<p>Height (inches)</p>

					<input text="text" class="form-control" id="height" />

					<br />
					<button id="calculate" class="btn btn-default" onclick="bmiCalc()">
						Calculate
					</button>
					<br />
					<br />
					<p>Your BMI is</p>
					<output id="result"></output>
				</div>
			</div>
			<br />
			<div class="resultChart">
				<h4>BMI Categories:</h4>
				<p>Underweight = < 18.5</p>
				<p>Normal weight = 18.5 – 24.9</p>
				<p>Overweight = 25 – 29.9</p>
				<p>Obesity = BMI of 30 or greater</p>
			</div>
		</div>
	</body>
</html>
