<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="../public/assets/workout.css"
			rel="stylesheet"
			type="text/css"
		/>

		<title>Workouts</title>
	</head>
	<body>
		<a href="./">Home</a>
		<h1>List of Workouts</h1>
		<div id="WorkoutOutput"></div>
		<script>
			const workouts = [
				{ title: "Bicep curls" },
				{ title: "Tricep curls" },
				{ title: "Push up" },
				{ title: "Squats" },
				{ title: "Sit up" },
			];
			for (let i = 0; i < workouts.length; i++) {
				document.getElementById("WorkoutOutput").innerHTML +=
					"<p>" + workouts[i].title + "</p>";
			}
		</script>
	</body>
</html>
